n8n_bayup_template.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bayup-ai-agent",
        "options": {}
      },
      "name": "Webhook Bayup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "prompt": "={{$node[\"Webhook Bayup\"].json[\"system_prompt\"]}} \n\n Instrucción del usuario: {{$node[\"Webhook Bayup\"].json[\"initial_message\"]}}",
        "options": {}
      },
      "name": "OpenAI Agent",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Webhook Bayup\"].json[\"phone\"]}}",
        "text": "={{$node[\"OpenAI Agent\"].json[\"text\"]}}"
      },
      "name": "WhatsApp Sender",
      "type": "n8n-nodes-base.whatsAppBusiness",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook Bayup": {
      "main": [
        [
          {
            "node": "OpenAI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}